{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>YardSlate</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="{% static "styles/reset.css" %}">
	<link rel="stylesheet" href="{% static "styles/layout.css" %}">
</head>

<body data-init="{% block pagetype %}home{% endblock %}" class="contains_map">
	<div id="header">
		<a href="/" id="logo" ><img height="50" width="50" src="{% static "images/yard_slate_logo.png" %}" />YardSlate</a>

	</div>
	<div id="content">
		<h1>{% block title %}{% endblock %}</h1>
		{% block content %}{% endblock %}
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{% static "scripts/global.js" %}"></script>
</body>
</html>