{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>YardSlate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{% static "styles/reset.css" %}">
  <link rel="stylesheet" href="{% static "styles/layout.css" %}">
  <link rel="stylesheet" href="{% static "styles/print.css" %}" media="print">
</head>
<body class="printable">

<div id="printHeader">
    <span id="logo"><img height="50" width="50" src="{% static "images/yard_slate_logo.png" %}" />YardSlate</span>
    <h1>{{ slate.title }} : {{ slate.start_time }} {{ slate.location }}</h1>
</div>

<div id="printImages">
    <div class="row">
        <img class="print-image" src="{{ MEDIA_URL }}{{ slate.photo_one }}" />
        <img class="print-image" src="{{ MEDIA_URL }}{{ slate.photo_two }}" />
    </div>
    <div class="row">
        <img class="print-image" src="{{ MEDIA_URL }}{{ slate.photo_three }}" />
        <img class="print-image" src="{{ MEDIA_URL }}{{ slate.photo_four }}" />
    </div>
    <div class="row static-height">
        <img class="print-image qr" src="{{ qr_url }}" />
        <div id="mapCanvas"></div>
    </div>
</div>

<script type="text/javascript"
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDHOSXvgnGXO9Db1bkCfY5-kh0pD5byn_o&sensor=true">
</script>
<script type="text/javascript">
        
  var map;
  function initialize(){
	var mapOptions = {
		center : new google.maps.LatLng(-34.397, 150.644),
		zoom : 16,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	map = new google.maps.Map(document.getElementById("mapCanvas"),
		mapOptions);
	codeAddress();
	}
  function codeAddress() {
        var address = "{{ slate.location }}";
	geocoder = new google.maps.Geocoder();
        geocoder.geocode( { 'address': address}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
       }
      )
    }

    window.onload = initialize;
	</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</body>

</html>
