{% extends 'base.html' %}
{% block pagetype %}mobile{% endblock %}
{% block content %}
{% load staticfiles %}
    <div id="printHeader">
        <h1>{{ slate.title }}<br/>{{ slate.start_time }} {{ slate.location }}</h1>
    </div>
    <div id="printImages">
        <div class="row">
            <img class="print-image" src="{{ MEDIA_URL }}{{ slate.photo_one }}" />
            <img class="print-image" src="{{ MEDIA_URL }}{{ slate.photo_two }}" />
        </div>
        <div class="row">
            <img class="print-image" src="{{ MEDIA_URL }}{{ slate.photo_three }}" />
            <img class="print-image" src="{{ MEDIA_URL }}{{ slate.photo_four }}" />
        </div>
        <div class="row static-height">
            <div id="mapCanvas"></div>
        </div>
    </div>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDHOSXvgnGXO9Db1bkCfY5-kh0pD5byn_o&sensor=true"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
    window.SLATELOCATION = "{{ slate.location }}";
    </script>


<a href="/printable_slate/?yard_slate={{ slate.id }}">Print a Flyer</a>

{% endblock %}